---
import Row from "@components/row.astro"
import Column from "@components/column.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <Row horizontal="center">
        <Column horizontal="center">
            <h1 class="display-xxl">Lars</h1>
            <p class="text-lg">A CSS library that lets you write CSS</p>
        </Column>
    </Row>
</Layout>
