---
import Layout from "src/layouts/Layout.astro"
import Column from "@components/column.astro"
---

<Layout title="Typography">
    <Column gap="xl">
        <Column>
            <h1 class="display-xxl">Display XXL</h1>
            <h1 class="display-xl">Display XL</h1>
            <h1 class="display-lg">Display LG</h1>
            <h1 class="display-md">Display MD</h1>
            <h1 class="display-sm">Display SM</h1>
            <h1 class="display-xs">Display XS</h1>
        </Column>

        <Column>
            <h1 class="title-xxl">Title XXL</h1>
            <h1 class="title-xl">Title XL</h1>
            <h1 class="title-lg">Title LG</h1>
            <h1 class="title-md">Title MD</h1>
            <h1 class="title-sm">Title SM</h1>
            <h1 class="title-xs">Title XS</h1>
        </Column>

        <Column>
            <h1 class="subtitle-xxl">Subtitle XXL</h1>
            <h1 class="subtitle-xl">Subtitle XL</h1>
            <h1 class="subtitle-lg">Subtitle LG</h1>
            <h1 class="subtitle-md">Subtitle MD</h1>
            <h1 class="subtitle-sm">Subtitle SM</h1>
            <h1 class="subtitle-xs">Subtitle XS</h1>
        </Column>

        <Column>
            <p class="text-xxl">Text XXL</p>
            <p class="text-xl">Text XL</p>
            <p class="text-lg">Text LG</p>
            <p class="text-md">Text MD</p>
            <p class="text-sm">Text SM</p>
            <p class="text-xs">Text XS</p>
        </Column>
    </Column>
</Layout>
